html {
    height: 100%;
}

body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.inline-block {
    display: inline-block;
    width: inherit;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

#main-chart {
    font-size: 14px;
    position: relative;
}

#main-chart .icon-loading {
    width: 100%;
    text-align: center;
    font-size: 60px;
    line-height: 500px;
}

.site-login {
    padding-top: 200px;
}

.site-login-head {
    font-size: 24px;
    margin-bottom: 16px;
}

.add-user-block {
    background: #eee;
    padding: 16px 16px 2px 16px;
    margin-bottom: 20px;
}

.user-info {
    margin-bottom: 10px;
}

.user-info__avatar {
    height: 50px;
    border-radius: 50%;
}

#add-user-button {
    margin-bottom: 10px;
}

.chart-wrap {
    position: relative;
}

.chart {
    height: 20px;
    overflow: hidden;
}

.chart-segment-item {
    height: 50px;
    display: inline-block;
    float: left;
}

.online {
    background-color: #8BE039;
}

.offline {
    background-color: #FF5555;
}

.no-status {
    background-color: #BBBBBB;
}

.watched-user {
    margin-bottom: 12px;
    padding: 24px 24px 24px 44px;
}

.watched-user[data-network='vkontakte'] {
    background: rgba(78, 114, 154, 0.2) url('../img/vk.png') no-repeat 12px 31px;
}

.watched-user[data-network='odnoklassniki'] {
    background: rgba(207, 103, 0, 0.2) url('../img/ok.png') no-repeat 12px 31px;
}

.chart-time-line {
    position: absolute;
    top: -5px;
    width: 100%;
    z-index: 1;
    display: none;
}

.chart-time-item {
    position: absolute;
}

/*-sm*/
@media (max-width: 768px) {
    .chart-time-item {
        font-size: 10px;
    }
}

/*-sm*/
@media (min-width: 768px) {
    .chart-time-item {
        font-size: 10px;
    }
}

/*-lg -md*/
@media (min-width: 992px) {
    .chart-time-item {
        font-size: 12px;
    }
}

.chart-time-item-label {
    margin-left: -15px;
}

.chart-vl {
    border: none;
    border-left: 1px solid #aaa;
    height: 30px;
}

.feature h3 {
    margin-top: 0;
}

.feature hr {
    border-color: grey;
}

.like {
    background-color: #CCFFCC;
}

.dislike {
    background-color: #FFCCCC;
}